* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#game-canvas {
  background-image: url("./assets/background.png");

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

#obstacles,
#bull,
#egg,
#toad,
#larva {
  display: none;
}
