* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#game-canvas {
  background-image: url("./assets/background.png");
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
  z-index: 1;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
}

#obstacles,
#bull,
#egg,
#toad,
#larva {
  display: none;
}
